[flake8]
filename = *.py, *.pyx
max_line_length = 80
max-doc-length = 80
extend-ignore = E203, W503
show-source = True

exclude =
    versioneer.py
    dpctl/_version.py

per-file-ignores =
    dpctl/__init__.py: F403, F401
    dpctl/memory/__init__.py: F403, F401
    dpctl/program/__init__.py: F403, F401
    dpctl/tensor/__init__.py: F403, F401
    dpctl/tests/__init__.py: F403, F401
    dpctl/_sycl_context.pyx: E999, E225, E227
    dpctl/_sycl_device.pyx: E999, E225
    dpctl/_sycl_device_factory.pyx: E999, E225
    dpctl/_sycl_event.pyx: E999, E225
    dpctl/_sycl_platform.pyx: E999, E225
    dpctl/_sycl_queue.pyx: E999, E225, E226, E227
    dpctl/_sycl_queue_manager.pyx: E999, E225
    dpctl/memory/_memory.pyx: E999, E225, E226, E227
    dpctl/program/_program.pyx: E999, E225, E226, E227
