[flake8]
filename = *.py, *.pyx
max_line_length = 80
max-doc-length = 80
extend-ignore = E203, W503
show-source = True

exclude =
    versioneer.py
    dpctl/_version.py
    build
    conda.recipe
    .git

per-file-ignores =
    dpctl/_sycl_context.pyx: E999, E225, E227
    dpctl/_sycl_device.pyx: E999, E225
    dpctl/_sycl_device_factory.pyx: E999, E225
    dpctl/_sycl_event.pyx: E999, E225
    dpctl/_sycl_platform.pyx: E999, E225
    dpctl/_sycl_queue.pyx: E999, E225, E226, E227
    dpctl/_sycl_queue_manager.pyx: E999, E225
    dpctl/memory/_memory.pyx: E999, E225, E226, E227
    dpctl/program/_program.pyx: E999, E225, E226, E227
    dpctl/tensor/_usmarray.pyx: E999, E225, E226, E227
    dpctl/tensor/numpy_usm_shared.py: F821
    dpctl/tests/_cython_api.pyx: E999, E225, E227, E402
    examples/cython/sycl_buffer/_buffer_example.pyx: E999, E225, E402
    examples/cython/sycl_direct_linkage/_buffer_example.pyx: E999, E225, E402
    examples/cython/usm_memory/blackscholes.pyx: E999, E225, E226, E402
