# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions and binary files
*.o
*.so
*.exe
*.lib

# CMake build and local install directory
build
install
build_cmake

# Emacs temp files
*~

# Eclipse project files
.project
.pydevproject

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
dppl_conda_pkg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version

# generated Cython files
_dppl_bindings*