include versioneer.py
recursive-include dpctl/include *.h
recursive-include dpctl *.pxd
include dpctl/_sycl_context.h
include dpctl/_sycl_device.h
include dpctl/_sycl_queue.h
include dpctl/_sycl_queue_manager.h
include dpctl/_sycl_event.h
include dpctl/memory/_memory.h
include dpctl/tests/input_files/*
