recursive-include dpctl/include *.h
recursive-include dpctl/include *.hpp
include dpctl/include/dpctl4pybind11.hpp
recursive-include dpctl *.pxd
recursive-include dpctl *.cmake
include dpctl/_sycl_context.h
include dpctl/_sycl_context_api.h
include dpctl/_sycl_device.h
include dpctl/_sycl_device_api.h
include dpctl/_sycl_queue.h
include dpctl/_sycl_queue_api.h
include dpctl/_sycl_event.h
include dpctl/_sycl_event_api.h
include dpctl/memory/_memory.h
include dpctl/memory/_memory_api.h
include dpctl/program/_program.h
include dpctl/program/_program_api.h
include dpctl/tensor/_usmarray.h
include dpctl/tensor/_usmarray_api.h
recursive-include dpctl/tensor/include *
include dpctl/tests/input_files/*
include dpctl/tests/*.pyx
