name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

permissions: read-all

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v4.2.2
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Version of clang-format
      run: |
        clang-format --version
    - uses: pre-commit/action@v3.0.1
