name: Python package

on: [push]

env:
  LINUX_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17769/l_BaseKit_p_2021.2.0.2883_offline.sh
  LINUX_DPCPP_COMPONENTS_WEB: intel.oneapi.lin.dpcpp-cpp-compiler

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    env:
      ONEAPI_ROOT: /opt/intel/oneapi

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Cache oneAPI
      id: cache-oneapi
      uses: actions/cache@v2
      with:
        path: |
          /opt/intel/oneapi/compiler
          /opt/intel/oneapi/tbb
        key: build-${{ env.LINUX_BASEKIT_URL }}-${{ env.LINUX_DPCPP_COMPONENTS_WEB }}-compiler-tbb-${{ hashFiles('**/scripts/cache_exclude_linux.sh') }}
    - name: Install oneAPI
      if: steps.cache-oneapi.outputs.cache-hit != 'true'
      run: scripts/install_linux.sh $LINUX_BASEKIT_URL $LINUX_DPCPP_COMPONENTS_WEB
    - name: Exclude unused files from oneAPI cache
      if: steps.cache-oneapi.outputs.cache-hit != 'true'
      run: scripts/cache_exclude_linux.sh

    - name: Install in Development Mode
      run: |
        source $ONEAPI_ROOT/compiler/latest/env/vars.sh
        python setup.py develop
    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v3
    - name: Test with pytest
      run: |
        source $ONEAPI_ROOT/compiler/latest/env/vars.sh
        source $ONEAPI_ROOT/tbb/latest/env/vars.sh
        pytest
